

.desktop{
    width:100vw; height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
    width:100%; height: 26px;
    background: rgba(0,0,0,.1);
    padding:0 10px;
    box-sizing: border-box;
    color:#fff;
}


.left{
    width:60px; height: 100%;
    .appContent{
        background: rgba(0,0,0,.1);
        padding:2px 5px 2px 0;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .appItem{
        margin:3px 0;
        div{
            width: 5px; height: 100%;
            padding-right:5px;
        }
        span{
            width:3px; height: 3px; display: block;
            border-radius: 3px; background: #ccc;
        }
    }
}


.main{
    height: 100%; position: relative;
}


.win{
    min-width:100px;
    min-height:100px;
}
