

.desktop{
    width:100vw; height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top{
    width:100%; height: 26px;
    background: rgba(0,0,0,.1);
    padding:0 10px;
    box-sizing: border-box;
    color:#fff;
    .system{
        .system_item{
            margin-left: 10px; cursor: default;
        }
    }
}


.left{
    width:60px; height: 100%;
    .appContent{
        background: rgba(0,0,0,.1);
        padding:2px 5px 2px 0;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .appItem{
        margin:3px 0;
        div{
            width: 5px; height: 100%;
            padding-right:5px;
        }
        span{
            width:3px; height: 3px; display: block;
            border-radius: 3px; background: #ccc;
        }
    }
}


.main{
    height: 100%; position: relative;
}


.win{
    width: 100%; height: 100%;
    border-radius: 10px;
    position: relative; overflow: hidden;
    .top_bg{
        background: #39393f;
    }
    .win_top{
        position: absolute;
        left:0; top:0; width: 100%; height: 40px;
        padding:0 0 0 15px; box-sizing: border-box;
        .win_top_btns{
            width:125px; height:100%;
            &:hover div{
                color:#333 !important;
            }
            div{
                width:12px; height: 12px; border-radius: 14px;
                font-size:10px; margin-right: 8px; font-weight: bold;

            }
            div:nth-child(1){
                background: #f75e56; color:#f75e56;
            }
            div:nth-child(2){
                background: #f5b630; color:#f5b630;
            }
            div:nth-child(3){
                background: #2dc140; color:#2dc140;
            }
        }
        .win_top_other{
            color: #e5e5e5; font-size:14px;
            height: 100%; background: #39393f;
            padding:0 20px 0 10px;
            .win_top_history{
                div{
                    width:32px; height:28px;  color: #58575c; border-radius: 5px;
                    font-size:20px; font-weight: bold;
                    &:hover{
                        background: #464549; color: #a7a7aa;
                    }
                }
            }
            .win_top_name{
                padding:0 10px;
            }
        }
    }
    .win_menu{
        width:140px; background: rgba(39, 36, 44,.9);
        padding-top:40px;
        .win_menu_body{
            width: 100%; overflow-x:hidden; overflow-y: auto;
            height: 100%; padding:10px 0; box-sizing: border-box;
        }
        .win_menu_item{
            height: 28px; margin: 0 10px; color:#e5e5e5;
            box-sizing: border-box; padding:0 5px;
            img{
                display: block; width: 14px; height: 14px; margin-right: 5px;
            }
            :global{
                .diandian{
                    font-size: 12px !important;
                }
            }
        }
        .select{
            background: rgba(255,255,255,.1); border-radius: 5px;
        }
    }
    .win_body{
        background: #1F1A24;
        color:#fff;
        padding:50px 10px 10px 10px;
        overflow: auto;
        >div{
            width:100%; height: 100%; overflow: auto;
        }
    }
}
