

.text{
  font-size:14px;
}


.form_item{
  width: 100%; nargin-right:1px;
  :global{
    .el-select .el-input.is-focus .el-input__wrapper{
      box-shadow: none !important;
    }
    .el-select .el-input__wrapper.is-focus{
      box-shadow: none !important;
    }
    .el-select:hover:not(.el-select--disabled) .el-input__wrapper{
      box-shadow: none !important;
      border:none !important;
      outline: none !important;
    }
    .el-form-item__content{
      flex: 1 1 0 !important;
      margin-right: 4px;
      border-radius: 3px;
      outline:1px solid var(--el-input-border-color,var(--el-border-color));
      &:hover{
        outline:1px solid var(--el-border-color-hover);
      }
    }
    .el-color-picker{
      width:100%;
      border: none;
      box-shadow:none;
      background: none;
      .el-color-picker__trigger{
        width:100%; padding:0;
        border: none;
        box-shadow:none;
        background: none;
        span{
          outline:none;
          border:none;
          box-shadow: none;
        }
        &:hover{
          outline:none;
          border:none;
          box-shadow: none;
        }
      }
    }
    .el-input__wrapper,.el-textarea__inner{
      border: none;
      box-shadow:none;
      background: none;
    }
    .unit{
      width:80px;
      height: 100%;
      text-align: center;
      background: var(--el-fill-color-light);
      border-left:1px solid var(--el-input-border-color,var(--el-border-color));
    }
    .el-input-number__increase,.el-input-number__decrease{
      border-radius: 0 !important;
      right:0 !important;
      height: calc(var(--el-input-number-controls-height) + 1px) !important;
      top:0 !important;
    }
    .el-input-number__decrease{
      top:auto !important;
      bottom:0 !important;
    }
    .el-input-number .el-input__inner{
      text-align: left;
    }
  }
}
.isFocus{
  :global{
    .el-form-item__content{
      outline:1px solid var(--el-color-primary,var(--el-border-color)) !important;
    }
  }
}
.isError{
  :global{
    .el-input__wrapper,.el-textarea__inner{
      box-shadow: none !important;
    }
    .el-form-item__content{
      outline:1px solid var(--el-color-danger,var(--el-border-color)) !important;
    }
  }
}

.input_radio,
.input_switch,
.input_checkbox,
.input_img{
  :global{
    .el-form-item__content{
      outline:none; padding-left:20px !important;
      &:hover{
        outline:none;
      }
    }
  }
}

.input_file{
  :global{
    .el-input.is-disabled .el-input__wrapper{
      box-shadow: none;
    }
    .el-button{
      border-radius: 0; height:30px; margin-right: 1px;
    }
    .el-button.is-loading{
       height: 30px;
      position: relative; top:1px;
      &:before{
        display: none;
      }
      i{
        display:block;      }
    }
  }
}

//.input_img.isError{
//  :global{
//    .el-form-item__content{
//      outline: none !important;
//    }
//  }
//}
.input_img{
  :global{
    .el-form-item__content{
      padding-left: 0 !important;
      display: flex;
      flex-direction:row;
      align-items:center;
      justify-content:flex-start;
      flex-wrap:wrap;
    }
    ._img_item_{
      width:150px; height: 150px; border:1px solid #ccc;
      border-radius: 3px;
      margin: 0 10px 10px 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      ._css_icon_{
        background: rgba(0,0,0,.3); width:100%; height: 100%;
        display: none;
        >div{
          font-size:20px; margin: 0 10px;
          cursor: pointer; color:#ddd;
          &:hover{
            color:#fff;
          }
        }
      }
      &:hover ._css_icon_{
        display: flex;
      }
    }
  }
}
.img{
  width:150px; height: 150px; border:1px solid #ccc;
  border-radius: 5px;
  margin-bottom:10px;
  :global{
    .el-upload{
      width:100%; height: 100%;
      color:#333;
      display: flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
    }
    ._icon_{
      font-size:40px;
    }
  }
}

.loadingIcon{
  margin-right: 10px;
  font-size:20px;
  animation: 1s rotateFn linear infinite normal;
}

@keyframes rotateFn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform:rotate(360deg);
  }
}
